@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --width-main: 65.75vw;
  --title: 4rem;
  --cld-native: 3.5rem;
  --section-title: 2.6rem;
  --subtitle: 2rem;
  --sub-heading: 2rem;
  --sm-card-heading: 1.5rem;
  --inter: 'Inter', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --color: #fff;
  --border: border: 1px solid #282D45;
  --grad-bg: background-image: linear-gradient(230deg,
      hsl(235deg 53% 13%) 0%,
      hsl(236deg 53% 14%) 47%,
      hsl(237deg 54% 15%) 66%,
      hsl(238deg 54% 15%) 78%,
      hsl(239deg 53% 16%) 85%,
      hsl(240deg 53% 16%) 90%,
      hsl(242deg 55% 17%) 93%,
      hsl(243deg 56% 17%) 96%,
      hsl(245deg 57% 18%) 97%,
      hsl(247deg 59% 18%) 100%);
  font-size: 16px;
  color: white;
  --gadient: rgb(114, 21, 255);
  background: radial-gradient(circle, rgba(114, 21, 255, 1) 0%, rgba(7, 12, 39, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.clr-black{
  color: #0e0e0e;
}
.gp {
  gap: 60px;
}


.title {
  font-size: var(--title);
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.68px;
  font-family: var(--poppins);
  background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
  margin-bottom: 30px;
}

.sec-title {
  font-size: var(--section-title);
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1.68px;
  font-family: var(--poppins);
  background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
  margin-bottom: 30px;
}


.subheading {
  color: var(--color);
  text-align: center;
  font-size: var(--subtitle);
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  font-family: var(--poppins);
  margin: 25px auto;
}

.subtitle {
  color: #8F9BB7;
  text-align: center;
  font-size: var(--sub-heading);
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.96px;
  font-family: var(--poppins);
  margin: 25px auto;
}

.footer-heading {
  font-size: var(--sm-card-heading);
  font-family: var(--inter);
  font-weight: 400;
}

nav {
  font-family: var(--inter);
}

.cldf {
  font-size: var(--cld-native) !important;
}

p,
ul,
il {
  color: #8F9BB7;
  font-style: normal;
  font-family: var(--inter);
}

.sm-card-fnt {
  font-size: var(--sm-card-heading);
  font-weight: bold;
  line-height: 34px;
}

.wrap-p {
  padding: 0px 15vw;
}

.wrapper-bg {
  background-image: linear-gradient(230deg,
      hsl(235deg 53% 13%) 0%,
      hsl(236deg 53% 14%) 47%,
      hsl(237deg 54% 15%) 66%,
      hsl(238deg 54% 15%) 78%,
      hsl(239deg 53% 16%) 85%,
      hsl(240deg 53% 16%) 90%,
      hsl(242deg 55% 17%) 93%,
      hsl(243deg 56% 17%) 96%,
      hsl(245deg 57% 18%) 97%,
      hsl(247deg 59% 18%) 100%);
}

.container {
  max-width: 63.774rem;
}

.ht {
  height: 20.2vw;
}

.hts {
  height: 18.7vw;
}

.bdr {
  border: 1px solid var(--neutral-gray-500, #282D45);
}

.df {
  display: flex;
}

.fld {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.w-main {
  width: var(--width-main);
}

.mx {
  margin: 0 auto;
}

.w-45 {
  width: 45vw;
}

.w-md {
  width: 25vw;
}

.card-size {
  width: 34rem;
}

.w-card {
  width: 29vw;
}

.w-cards {
  width: 25vw;
}

.w-fluid {
  width: 100%;
}

.w-75 {
  width: 80vw;
}

.foot-width {
  width: 17vw;
}

.bg-grad {
  /* background-image: url('../public/gradient.png'); */
  background-image: linear-gradient(230deg,
      hsl(235deg 53% 13%) 0%,
      hsl(236deg 53% 14%) 47%,
      hsl(237deg 54% 15%) 66%,
      hsl(238deg 54% 15%) 78%,
      hsl(239deg 53% 16%) 85%,
      hsl(240deg 53% 16%) 90%,
      hsl(242deg 55% 17%) 93%,
      hsl(243deg 56% 17%) 96%,
      hsl(245deg 57% 18%) 97%,
      hsl(247deg 59% 18%) 100%);
}

.bg-gra-invert {
  background-image: linear-gradient(40deg,
      hsl(235deg 53% 13%) 0%,
      hsl(236deg 54% 14%) 21%,
      hsl(238deg 53% 15%) 32%,
      hsl(241deg 54% 17%) 40%,
      hsl(244deg 56% 17%) 46%,
      hsl(247deg 59% 18%) 52%,
      hsl(236deg 56% 18%) 59%,
      hsl(228deg 62% 18%) 68%,
      hsl(223deg 66% 17%) 78%,
      hsl(219deg 65% 17%) 88%,
      hsl(216deg 60% 17%) 100%);
}

.pa {
  padding: 2vw 3vw;
}

.pl1 {
  padding-top: 1.5vw;
}

.p {
  padding: 2vw;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 65px !important;
}

.mt-sm {
  margin-top: 45px !important;
}

.mr {
  margin-right: 25px;
}

.carfd-btn>a.knw:hover {
  background-color: #222852 !important;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.w-36 {
  width: 70vw;
}

.gp {
  gap: 3.5% !important;
}

.w-90 {
  width: 85vw;
}

.my {
  margin: 20px 0;
}

.form {
  margin: 0 auto;
}

.form-field {
  margin: 10px 0;
  border: none;
}

.btn {
  background-color: #7214FF;
  border-radius: 50px;

}

.btn-primary {
  padding: 15px 25px;
}

input {
  border-radius: 5px !important;
  width: 100%;
  height: 4.5vh;
  margin-top: 08px;
  padding-right: 10px;
  border: 1px solid #EEEEEE;
  color: #000 !important;
}
label{
  color: rgba(24, 23, 23,0.7);
}
textarea {
  margin-top: 08px;
  border-radius: 5px !important;
  border: 1px solid #EEEEEE;
  color: #000 !important;
}
.bgwhite{
  background-color: #fff !important;
}
.formwidth {
  width: 26vw;
}

input[type="checkbox"] {
  border: 1px solid #EEEEEE;
  width: auto;
  margin-right: 10px;
  margin-top: 0;
  color: #0e0e0e;
}

.form-bdr {
  border: 1px solid #EEEEEE;
}

input::placeholder{
  padding: 5px 0px 10px;
}
.inpt::placeholder {
  color: #1f1d1d81;
  padding: 10px 20px;
}
.email{
  margin: 15px 10px;
}